
/target
target/

# Local build / artifacts
security_logs_extracted/
*.log
# IDE/editor folders
.vscode/
.idea/
# Binary / debug / compiled artifacts
*.pdb
*.rlib
*.exe
*.dll
*.lib
*.a
*.so
# Databases & keystores
*.sqlite
*.db
*.p12
*.pfx

# Demo script dependencies
examples/node_modules/
examples/package.json
examples/package-lock.json
node_modules/
*.zip
trivy_bin/
syft_bin/
